/*
CSS Name: Default Styles
Description: NextGEN Default Gallery Stylesheet
Author: Photocrati Media
Version: 2.12

This stylesheet is provided to allow users the ability of overriding the default styles for all display types
*/

.ngg-gallery-thumbnail-box {
	margin: 0 2em 2em 0;
	/*float: none;*/
}
.ngg-gallery-thumbnail-box:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
.ngg-gallery-thumbnail {
	/*float: none;*/
}
.ngg-gallery-thumbnail a {
	width: 100%;
	height: 100%;
	float: left;
}
.ngg-gallery-thumbnail img {
	padding: 0;
	margin: 0;
	border: none;
}