.background {
  @media #{$tablet} {
    height: 100vh;
    left: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 85%;
    z-index: 0;
  }

  .background__image {
    background: none;

    @media #{$tablet} {
      background-position: center right;
      background-repeat: no-repeat;
      background-size: cover;
      bottom: 0;
      left: 0;
      position: absolute;
      top: 0;
      width: 50%;
    }
  }

  .background__colour {
    @media #{$tablet} {
      // animation: background ($global-duration * 25) ease infinite;
      // background-color: $blue-v-light;
      bottom: 0;
      position: absolute;
      right: 0;
      top: 0;
      width: 50%;
    }
  }
}
