.button {
  background-color: $button-background-color;
  color: $button-color;
  cursor: pointer;
  font-family: $body-font-family;
  outline: none;
  padding: .75em 2em;
  text-transform: uppercase;
  transition: background-color $global-duration ease, color $global-duration ease;

  &:hover {
    background-color: $blue-dark;
  }
}
