button {
  background-color: $beige;
  border: .0625em solid $beige;
  color: $white;
  cursor: pointer;
  font-family: $body-font-family;
  outline: none;
  padding: .75em 2em;
  text-transform: uppercase;
  transition: background-color $global-duration ease, border-color $global-duration ease, color $global-duration ease;

  &:hover {
    background-color: $beige-dark;
    border-color: $beige-dark;
  }

  &.button--bordered {
    background-color: transparent;
    color: $beige;

    &:hover {
      color: $beige-dark;
    }
  }
}
