.content {
  margin: $site-header-height-mobile auto $footer-height-mobile;
  min-height: calc(100vh - (#{$site-header-height-mobile} + #{$footer-height-mobile}));
  opacity: 1;
  position: relative;
  transition: opacity ($global-duration / 2) $global-timing-function;
  width: 90%;

  @media #{$tablet} {
    margin-bottom: ($footer-height-desktop * 1.5);
    margin-top: ($site-header-height-desktop * 1.5);
    min-height: calc(100vh - (#{$site-header-height-desktop} + #{$footer-height-desktop}));
  }

  &.content--splash {
    .content__header {
      > * {
        color: $black-20;
      }
    }
  }

  .pace-running & {
    opacity: 0;
  }

  .content__header {
    margin-bottom: 2em;

    @media #{$tablet} {
      margin-bottom: 4em;
    }
  }

  .content__excerpt {
    margin-top: 0;
  }

  .entry {
    position: relative;

    .entry__col--form {
      @media #{$tablet} {
        background-color: $white;
        float: left;
        padding: 2em;
        width: 50%;
      }

      @media #{$desktop} {
        float: none;
        padding: 4em;
        position: absolute;
        right: 0;
        top: 2em;
        width: 60%;
      }
    }

    .entry__col--contact {
      @media #{$tablet} {
        background-color: $blue;
        color: $white;
        float: left;
        padding: 2em;
        width: 50%;

        * {
          border-color: inherit;
          color: inherit;
        }
      }

      @media #{$desktop} {
        float: none;
        padding: 4em;
      }
    }
  }
}
