.footer {
  align-items: center;
  bottom: 0;
  height: $footer-height;
  left: 0;
  position: fixed;
  text-align: left;
  width: 100%;
  z-index: $footer-zindex;

  .footer__content {
    align-items: center;
    display: inline-flex;
    height: inherit;
    margin-left: 7.5%;
    width: 85%;

    @media #{$tablet} {
      margin-left: 5%;
      width: 90%;
    }
  }

  .copyright {
    color: $footer-color;
    font-size: $footer-font-size;
    margin-bottom: 0;
  }
}
