.pace {
  pointer-events: none;
  user-select: none;

  &.pace-inactive {
    display: none;
  }

  .pace-progress {
    background-color: $black-10;
    bottom: 0;
    height: 100%;
    overflow: hidden;
    position: fixed;
    right: 100%;
    top: 0;
    transform: translate3d(0, 0, 0);
    width: 100%;
    z-index: 0;
  }
}
