.mouse {
  border: .0635em solid $white;
  border-radius: .8em;
  bottom: 2em;
  height: 2.5em;
  left: 50%;
  margin-left: -.4em;
  opacity: 0;
  padding: 1.4em .8em;
  position: absolute;
  transition: opacity 200ms ease-out;

  &.is-visible {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }

  .mouse__scroll {
    animation-duration: 1.35s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-name: scroll-down;
    animation-timing-function: ease-in-out;
    background-color: $white;
    border-radius: 25%;
    height: .5em;
    width: .125em;
  }
}
