.post {
  @include clearfix;
  display: block;
  margin-bottom: 2em;
  text-align: left;
  width: 100%;

  @media #{$tablet} {
    display: table;
  }

  .post__link {
    text-decoration: none;
  }

  .post__img {
    width: 100%;

    @media #{$tablet} {
      display: table-cell;
      vertical-align: top;
      width: 35%;
    }
  }

  .post__content {
    @media #{$tablet} {
      display: table-cell;
      padding-left: 1em;
      position: relative;
      vertical-align: top;
    }

    .date {
      @media #{$tablet} {
        bottom: .5em;
        left: 1em;
        position: absolute;
      }
    }
  }

  .post__title {
    border-bottom: 3px solid $black-90;

    @media #{$tablet} {
      margin-top: 0;
    }

    a {
      color: $header-color;
      text-decoration: none;
    }
  }

  .post__thumbnail {
    float: left;
    max-width: 100%;
  }
}
