.thumbnail {
  background-color: $black-20;
  cursor: pointer;
  display: block;
  margin-left: 1em;
  overflow: hidden;
  position: relative;
  text-align: left;
  width: 100%;

  @media #{$mobile} {
    width: 50%;
  }

  @media #{$desktop} {
    width: 33.33333%;
  }

  @media #{$screen} {
    width: 25%;
  }

  &:first-child {
    margin-left: 0;
  }

  .thumbnail__link {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    float: left;
    min-height: ($thumbnail-height / 2);
    padding: $thumbnail-padding;
    position: relative;
    text-decoration: none;
    width: 100%;
  }

  .thumbnail__caption {
    @media #{$tablet} {
      background-image: none;
    }
  }

  .thumbnail__title {
    margin-bottom: 0;
    margin-top: 0;
  }

  hr {
    background-color: $thumbnail-hr-color;
    border: 0;
    height: 3px;
    margin-left: 0;
    width: 4em;
  }
}
