* {
  &,
  &:before,
  &:after {
    @if ($body-border-box) {
      box-sizing: border-box;
    }
  }
}

html {
  background-color: $body-background;
  height: 100%;
}

body {
  background-color: $body-background;
  color: $body-font-colour;
  font-family: $body-font-family;
  font-size: $body-font-size;
  font-weight: $body-font-weight;
  margin-bottom: $footer-height-mobile;
  min-height: calc(100vh - (#{$site-header-height-mobile} + #{$footer-height-mobile}));

  @media #{$tablet} {
    margin-bottom: $footer-height-desktop;
    min-height: calc(100vh - (#{$site-header-height-desktop} + #{$footer-height-desktop}));
  }
}

.global-icons {
  height: 0;
  overflow: hidden;
  visibility: hidden;
  width: 0;
}

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.visible-mobile {
  display: block;

  @media #{$tablet} {
    display: none;
  }
}

.visible-desktop {
  display: none;

  @media #{$tablet} {
    display: block;
  }
}

.pace {
  pointer-events: none;
  user-select: none;

  &.pace-inactive {
    display: none;
  }

  .pace-progress {
    background-color: $blue-light;
    bottom: 0;
    height: 100%;
    overflow: hidden;
    position: fixed;
    right: 100%;
    top: 0;
    width: 100%;
    z-index: 0;
  }
}
