.spinner {
  display: block;
  height: 3em;
  left: 50%;
  margin: -1.5em 0 0 -1.5em;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  top: 50%;
  transform: rotateZ(45deg);
  transition: opacity .35s ease-out, visibility .35s;
  visibility: hidden;
  width: 3em;

  &.spinner--sm {
    height: 1.5em;
    margin: .75em auto;
    width: 1.5em;
  }

  .spinner__cube {
    float: left;
    height: 50%;
    position: relative;
    transform: scale(1.1);
    width: 50%;

    &:before {
      animation: fold-cube 2.4s infinite linear both;
      background-color: $black-50;
      content: '';
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      transform-origin: 100% 100%;
      width: 100%;
    }

    &.spinner__cube--2 {
      transform: scale(1.1) rotateZ(90deg);

      &:before {
        animation-delay: .3s;
      }
    }

    &.spinner__cube--3 {
      transform: scale(1.1) rotateZ(180deg);

      &:before {
        animation-delay: .6s;
      }
    }

    &.spinner__cube--4 {
      transform: scale(1.1) rotateZ(270deg);

      &:before {
        animation-delay: .9s;
      }
    }
  }
}
